@use "variables" as *;

@mixin breakpoint($bp) {
  @if $bp == "tablet" {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == "tablethorizontal" {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == "desktop" {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == "desktopxl" {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin button() {
  display: inline-block;
  background-color: $azul_claro;
  color: $azul_oscuro;
  padding: 10px 20px;
  border-radius: 16px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 400;
  &:hover {
    transform: scale(1.2);
    text-decoration: underline;
  }
}
