$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/*Colors */
$azul_oscuro: #081426;
$azul_claro: #64ffda;
/*Fonts*/
$title_font: "Montserrat", sans-serif;
$text_font: "Inter", sans-serif;
