@use "../abstracts/variables" as *;

body {
  margin: 0;
  background-color: $azul_oscuro;
  box-sizing: border-box;

  h1,
  h2,
  h3 {
    font-family: $title_font;
    color: white;
    letter-spacing: -2px;
  }
  h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: 0;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 55px;
    font-weight: 500;
    margin-top: 0;
  }
  h3 {
    font-size: 28px;
    font-weight: 500;
  }
}

a,
p {
  font-family: $text_font;
  font-size: 18px;
  color: white;
  font-weight: 400;
}
p {
  margin-bottom: 0;
}
