@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.descubre_box {
  border-bottom: 4px solid $azul_claro;
  .descubre {
    text-align: center;
    margin-top: 66px;
    margin-bottom: 66px;
    width: 546px;
    margin-left: auto;
    margin-right: auto;
    background-color: #051021;
    padding: 28px 20px 20px;
    border-radius: 16px;

    h2.title {
      display: inline-block;
      margin: 0;
      margin-bottom: 20px;
    }
    p.subtitle {
      margin-bottom: 50px;

      margin-left: auto;
      margin-right: auto;
      font-size: 24px;
    }
    a {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.cursos {
  padding: 66px 0;
  border-bottom: 4px solid $azul_claro;
  .cursos_header {
    text-align: center;
    h2 {
      margin: 0;
    }
    p.cursos_subtitle {
      font-size: 24px;
      margin: 15px 0 40px;
    }
  }
  .cursos_lista {
    display: flex;
    justify-content: space-between;
    article {
      text-align: center;
      background-color: #051021;
      border-radius: 16px;
      padding: 28px 20px 20px;
      h3 {
        display: inline-block;
        margin-top: 0;
        &::after {
          content: "";
          width: 100%;
          height: 4px;
          background-color: $azul_claro;
          display: block;
          border-radius: 4px;
        }
      }
      figure {
        position: relative;
        bottom: 5px;
        margin: 0;
        width: 525px;
        .overlay {
          position: relative;
          width: 100%;
          height: auto;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
          }
        }
        img {
          width: 100%;

          display: block;
          position: relative;
          z-index: 1;
          height: 328px;
        }
      }
      a {
        margin-top: 30px;
      }
    }
  }
  p:last-child {
    text-align: center;
    margin-top: 30px;
    a {
      display: inline-block;
      color: $azul_claro;
      transition: all 0.5s ease;
      text-decoration: none;
      &:hover {
        transform: scale(1.1);
        text-decoration: underline;
      }
    }
  }
}

.blog {
  padding-top: 66px;
  padding-bottom: 96px;
  &_title {
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  &_noticias {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 525px;
      background-color: #051021;
      border-radius: 16px;
      padding: 28px 20px 20px;
      h3 {
        text-align: center;
        align-self: center;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        span {
          display: inline-block;
          &::after {
            content: "";
            width: 101%;
            height: 4px;
            background-color: $azul_claro;
            display: block;
            border-radius: 4px;
          }
        }
      }
      figure {
        margin: 0;
        width: 100%;
        align-self: center;
        img {
          width: 100%;
        }
      }
      p.noticia_info {
        margin: 0;
        margin-top: 18px;
        width: 100%;
        text-align: left;
        align-self: flex-start;
      }
      a {
        margin-top: 30px;
        align-self: center;
      }
    }
  }
  p:last-of-type {
    text-align: center;
    margin-top: 30px;
    a {
      display: inline-block;
      color: $azul_claro;
      transition: all 0.5s ease;
      text-decoration: none;
      &:hover {
        transform: scale(1.1);
        text-decoration: underline;
      }
    }
  }
}

.quienes_profesores {
  padding-bottom: 96px;
  h2 {
    padding-top: 66px;
    text-align: center;
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    article {
      align-items: center;
      text-align: center;
      background-color: #051021;
      border-radius: 16px;
      h3 {
        display: inline-block;
        &::after {
          content: "";
          background-color: $azul_claro;
          height: 4px;
          width: 101%;
          display: block;
          border-radius: 4px;
        }
      }
      figure {
        padding: 0;
        margin: 0;
        img {
          border-radius: 50%;
          width: 150px;
        }
      }
      p {
        text-align: start;
        padding: 0 20px 20px;
      }
    }
  }
}

.registro {
  background-color: #051021;
  border-radius: 16px;
  max-width: max-content;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 96px;
  margin-top: 52px;
  .registro_title {
    text-align: center;
    h2 {
      padding-top: 28px;
      margin-bottom: 0;
      display: inline-block;
      &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $azul_claro;
        display: block;
        border-radius: 4px;
      }
    }
  }
  .form {
    padding-bottom: 0;
  }
}

.login_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  main {
    flex: 1;
    .login_section {
      padding: 28px 0px 20px;
      background-color: #051021;
      border-radius: 16px;
      margin-top: 52px;
      width: 894px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      h2 {
        margin: 0;
        display: inline-block;
        &::after {
          content: "";
          width: 100%;
          height: 4px;
          background-color: $azul_claro;
          display: block;
          border-radius: 4px;
        }
      }
      h3 {
        margin-top: 28px;
        display: inline-block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        display: inline-block;
      }
      .form_login {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.oferta {
  &_hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 52px 0 66px;
    gap: 30px;
    border-bottom: 4px solid $azul_claro;
    .hero_info {
      .oferta_hero_title {
        span {
          display: inline-block;
          &::after {
            content: "";
            width: 100%;
            height: 4px;
            background-color: $azul_claro;
            display: block;
            border-radius: 4px;
          }
        }
      }
      .oferta_hero_subtitle {
        margin-top: 0;
      }
    }
    figure {
      width: 530px;
      .overlay {
        position: relative;
        width: 100%;
        height: auto;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.2);
          z-index: 2;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
.enseñanzas {
  border-bottom: 0;
  &_header {
    text-align: center;
    padding-top: 66px;
    h2 {
      margin: 0;
    }
    p {
      margin-top: 15px;
      margin-bottom: 40px;
    }
  }
  &_lista {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding-bottom: 96px;
    article {
      text-align: center;
      background-color: #051021;
      border-radius: 16px;
      padding: 28px 20px 20px;
      width: 525px;
      h3 {
        margin-top: 0;
        width: 70%;
        display: inline-block;

        span {
          display: inline-block;

          &::after {
            content: "";
            background-color: $azul_claro;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            display: block;
          }
        }
      }
      figure {
        width: 400px;
        img {
          width: 100%;
        }
      }
      p.enseñanza_description {
        text-align: left;
        align-self: flex-start;
      }
      a.button {
        margin-top: 30px;
      }
    }
  }
}

.blog_main {
  h2 {
    padding: 66px 0 46px;
    margin: 0;
    text-align: center;
  }
  h3 {
    margin-top: 0;
  }
}

.contacto {
  display: flex;
  justify-content: space-between;
  padding: 52px 0 66px;
  gap: 40px;
  &_header {
    position: relative;
    right: 40px;
    order: 2;
    border-left: 4px solid $azul_claro;
    max-width: max-content;
    width: 570px;
    h2 {
      width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
    p {
      margin: 0;
      text-align: center;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &_formulario {
    position: relative;
    left: 160px;
    background-color: #051021;
    padding: 28px 20px 20px;
    border-radius: 16px;
    text-align: center;
    &_title {
      display: inline-block;
      margin-top: 0;
      &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $azul_claro;
        border-radius: 4px;
        display: block;
      }
    }
  }
}
.contacto_mapa {
  text-align: center;
  padding: 66px 0 96px;
  border-top: 4px solid $azul_claro;
  h3 {
    margin-top: 0;
  }
}

.noticia1 {
  text-align: center;
  padding: 52px 0 96px;
  &_title {
    margin-top: 0;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    span {
      display: inline-block;
      &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $azul_claro;
        border-radius: 4px;
        display: block;
      }
    }
  }
  figure {
    margin: 20px 0 20px;
  }
  p {
    text-align: start;
    background-color: #051021;
    padding: 28px 20px 20px;
    border-radius: 16px;
  }
  .noticia1_texto {
    h3 {
      text-decoration: underline;
      background-color: #051021;
      display: inline-block;
      margin-bottom: 0;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding: 22px 20px 15px;
    }
    p {
      margin-top: 0;
      padding-top: 22px;
    }
  }
}

.pagina_curso {
  padding: 52px 0 56px;
  display: flex;
  justify-content: space-between;
  &_title {
    width: 573px;
    h2 {
      font-size: 75px;
      margin-bottom: 30px;
      span {
        display: inline-block;
        &::after {
          content: "";
          width: 101%;
          height: 4px;
          background-color: $azul_claro;
          display: block;
          border-radius: 4px;
        }
      }
    }
    p {
      width: 85%;
      background-color: #051021;
      padding: 20px;
      border-radius: 16px;
    }
  }
  figure {
    margin: 0;
    img {
      width: 550px;
      position: relative;
      top: 10px;
    }
  }
}
p.pagina_curso_link {
  text-align: center;
  padding-bottom: 96px;
  a {
    display: inline-block;
    color: $azul_claro;
    transition: all 0.5s ease;
    text-decoration: none;
    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }
}

.aviso_legal_header {
  text-align: center;
  padding-top: 52px;
  h2 {
    display: inline-block;
    &::after {
      content: "";
      width: 101%;
      height: 4px;
      background-color: $azul_claro;
      display: block;
      border-radius: 4px;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 32px;
  }
}
.aviso_legal_texto {
  width: 75%;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  h3 {
    text-decoration: underline;
  }
}
